:root {
  --theme: #FF9C30;
  --accent: #FD3030;
  --dark: #000000;
  --light: #EDEDED;

  --edge-spacing: 2.5em;
  --magic-card-offset: 3.6em;
}

body {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overscroll is the pulldown to refresh effect */
  overscroll-behavior: none;
}

/* EXAMPLE ONLY FOR AN OVERRIDE OF BOOTSTRAP */
/* .container {
  margin-left: var(--edge-spacing) !important;
  margin-right: var(--edge-spacing) !important;
  } */

/* NOTE Overriding bootstrap standard class */
.bg-dark {
  background-color: var(--dark) !important;
}

.bg-theme {
  background-color: var(--theme);
}

.bg-hero {
  background: url(./hero-bg.png);
  /* height: 28.222vh; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-accent {
  background-color: var(--accent);
}



main {
  /* --dark: pink; */
  flex-grow: 1;
  background-color: var(--light);

}



.read-font {
  font-family: "Karantina";
  letter-spacing: .25ch;
  text-shadow: 0 0 2px black;
}

.btn-theme {
  background-color: var(--theme);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: .05ch;
}

.btn-theme:hover {
  background-color: tan;
}

input {
  accent-color: var(--theme) !important;
}

.sticky-top.offset-100 {
  top: 100px;
}

/* The name of this class is not special */
.magic-card {
  position: relative;
  top: var(--magic-card-offset);
}

.shop {
  padding-top: calc(var(--magic-card-offset) * 1.5);
}

/* NOTE toggle features based on screen size */
@media screen AND (max-width: 600px) {
  :root {
    --magic-card-offset: 0;
  }

  .magic-card {
    margin-bottom: 1.5em;
  }

}

/* NOTE: how to change the color of the slider */
input::-webkit-slider-thumb {
  background: var(--theme) !important;
}
